<ion-card>
  <ion-card-header>
    <ion-card-title>About OnyxRetro</ion-card-title>
    <ion-card-subtitle>A fresh app for online retrospectives</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <strong>FAQ</strong>
    <ul>
      <li>
        📑 <span class="question">How can I edit or delete an entry?</span><br />
        <span class="answer">Swipe it to the left!</span>
      </li>
      <li>
        🗑️ <span class="question">How can I delete a board?</span><br />
        <span class="answer"
          >At the moment you cannot, because that would make it too easy to accidentally lose all data (but your board
          is only accessible by link anyway).</span
        >
      </li>
      <li>
        🚩 <span class="question">How can I define action items?</span> <br />
        <span class="answer">You can swipe an entry to the right to flag it!</span>
      </li>
      <li>
        📜 <span class="question">Can I add additional cards?</span> <br />
        <span class="answer"
          >No (for now). We are not sure if this feature is actually useful. Let us know if you have a different
          opinion.</span
        >
      </li>
      <li>
        👨‍🎨️ <span class="question">Why is the logo pink and low-res?</span> <br />
        <span class="answer"
          >Idk, we are not designers my dude. Can you do better? We're very open to other options, just submit it on
          <a href="https://github.com/patricsteiner/retronyx">github</a>!</span
        >
      </li>
    </ul>
    <br />
    <strong>Disclaimer</strong>
    <p>
      This is free open source software. The data you enter is stored on google cloud. Do not enter any sensitive
      information, because all boards are accessible and editable by anyone possessing the link. We use google analytics
      to track when you interact with this app, to which you agree by using this app. If you don't like that, we
      recommend installing a browser extension such as
      <a href="https://privacybadger.org/">Privacy Badger</a>
      (<em>hint: generally a good idea to install this one...</em>). If there are too many users and our costs go up too
      high, we reserve the right to temporarily restrict access to the app (until a cheaper solution or a sponsor is
      found).
    </p>
    <br />
    <strong>Donations</strong>
    <p>Not needed atm. Instead, be nice to someone today 🌸</p>
    <br />
    <strong>Contributions</strong>
    <p>
      The code is hosted on <a href="https://github.com/patricsteiner/retronyx">github</a>. Pull-requests, feedback &
      feature-requests are welcome 🤗 (although we are very restrictive with adding new features - this app ought to be
      as simple as possible).
    </p>
    <div style="padding: 16px; text-align: center;">
      <!--      <iframe-->
      <!--        src="https://ghbtns.com/github-btn.html?user=patricsteiner&type=follow&count=true"-->
      <!--        frameborder="0"-->
      <!--        scrolling="0"-->
      <!--        width="170"-->
      <!--        height="20"-->
      <!--        title="GitHub"-->
      <!--      ></iframe>-->
      <iframe
        src="https://ghbtns.com/github-btn.html?user=patricsteiner&repo=retronyx&type=star&count=true"
        frameborder="0"
        scrolling="0"
        width="150"
        height="20"
        title="GitHub"
      ></iframe>
    </div>
  </ion-card-content>
</ion-card>
