<ion-card>
  <ion-card-header>
    <ion-card-title>About OnyxRetro</ion-card-title>
    <ion-card-subtitle>A fresh app for online retrospectives</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <strong>FAQ</strong>
    <ul>
      <li>
        📑 <span class="question">How can I edit or delete an entry?</span><br />
        <span class="answer">Swipe it to the left!</span>
      </li>
      <li>
        🗑️ <span class="question">How can I delete a board?</span><br />
        <span class="answer"
          >At the moment you cannot, because that would make it too easy to accidentally lose all data (but your board
          is only accessible by link anyway).</span
        >
      </li>
      <li>
        🚩 <span class="question">How can I define action items?</span> <br />
        <span class="answer">You can swipe an entry to the right to flag it!</span>
      </li>
      <li>
        📜 <span class="question">Can I add additional cards?</span> <br />
        <span class="answer"
          >No (for now). We are not sure if this feature is actually useful. Let us know if you have a different
          opinion.</span
        >
      </li>
      <li>
        👨‍🎨️ <span class="question">Why is the logo pink and low-res?</span> <br />
        <span class="answer"
          >Idk, we are not designers my dude. Can you do better? We're very open to other options, just submit it on
          <a href="https://github.com/patricsteiner/retronyx">github</a>!</span
        >
      </li>
    </ul>
    <br />
    <strong>Disclaimer</strong>
    <p>
      This is free open source software. The data you enter is stored on google cloud. We do not recommend to enter any
      sensitive information. This app uses google analytics to track when you interact with it, to which you agree by
      using this app. We do this to be able to react to growth and spikes, so that our credit card bill will not ruin
      us. That's all, we don't do creepy things. If you still don't like that, that's fine. In this case we recommend
      installing a browser extension such as
      <a href="https://privacybadger.org/">Privacy Badger</a>
      (<em>hint: generally a good idea to install this one...</em>) or use a browser like
      <a href="https://brave.com/">Brave</a>.
    </p>
    <br />
    <strong>Donations</strong>
    <p>Not needed atm. Instead, be nice to someone today 🌸</p>
    <br />
    <strong>Contributions</strong>
    <p>
      The code is hosted on <a href="https://github.com/patricsteiner/retronyx">github</a>. Pull-requests, feedback &
      feature-requests are welcome 🤗 (although we are very restrictive with adding new features - this app ought to be
      as simple as possible).
    </p>
    <!--    <div style="padding: 16px; text-align: center;">-->
    <!--      &lt;!&ndash;      <iframe&ndash;&gt;-->
    <!--      &lt;!&ndash;        src="https://ghbtns.com/github-btn.html?user=patricsteiner&type=follow&count=true"&ndash;&gt;-->
    <!--      &lt;!&ndash;        frameborder="0"&ndash;&gt;-->
    <!--      &lt;!&ndash;        scrolling="0"&ndash;&gt;-->
    <!--      &lt;!&ndash;        width="170"&ndash;&gt;-->
    <!--      &lt;!&ndash;        height="20"&ndash;&gt;-->
    <!--      &lt;!&ndash;        title="GitHub"&ndash;&gt;-->
    <!--      &lt;!&ndash;      ></iframe>&ndash;&gt;-->
    <!--      <iframe-->
    <!--        src="https://ghbtns.com/github-btn.html?user=patricsteiner&repo=retronyx&type=star&count=true"-->
    <!--        frameborder="0"-->
    <!--        scrolling="0"-->
    <!--        width="150"-->
    <!--        height="20"-->
    <!--        title="GitHub"-->
    <!--      ></iframe>-->
    <!--    </div>-->
  </ion-card-content>
</ion-card>
