:host * {
  --backdrop-opacity: 0;
  //max-height: 100px;
}

:host-context {
  --backdrop-opacity: 0;
}

ion-card {
  overflow: auto;
}

ul {
  margin: 0;
  li {
    margin: 8px 0;
  }
  .question {
    font-weight: bold;
    font-style: italic;
  }
}
