<app-header></app-header>
<ion-content>
  <main>
    <img src="../../assets/logofull.png" />
    <p>Create a board, share the link with your team and start your retro. No login required! 🐱‍🐉</p>
    <ion-button (click)="showNewBoardModal()" color="tertiary" shape="round" fill="outline"
      >Create new retro board</ion-button
    >
  </main>
  <section id="more">
    <ion-button (click)="showAboutModal()" fill="none" color="medium" size="small" shape="round"
      >Learn more...</ion-button
    >
  </section>
</ion-content>
