<ion-card>
  <ion-card-header>
    <ion-card-title>Create a new retro board</ion-card-title>
    <ion-card-subtitle>
      After creating the board, you can send the link to your colleagues to collaborate. <br />
      Don't loose your link, or you will lose access to the board!
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input
          formControlName="title"
          placeholder="Enter a title..."
          (ionChange)="error = ''"
          required
          minlength="3"
          maxlength="100"
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="error">
        <ion-text color="danger">{{ error }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-segment value="EN" (ionChange)="form.controls.template.setValue($event.detail.value)">
          <ion-segment-button value="EN">English</ion-segment-button>
          <ion-segment-button value="DE">Deutsch</ion-segment-button>
          <ion-segment-button value="CH">Bärndütsch</ion-segment-button>
        </ion-segment>
      </ion-item>
    </form>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="abort()">Abort</ion-button>
        <ion-button [disabled]="!form.valid" color="primary" (click)="submit()">Create</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>
