<ion-card>
  <ion-card-header>
    <ion-card-title>Retronyx</ion-card-title>
    <ion-card-subtitle> Eine simple FOSS App für Retros.</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>Der Code ist auf Github verfügbar. Pull-requests, Feedback & Feature-requests welcome 🤗</p>
    <div style="padding: 16px; text-align: center;">
      <!--      <iframe-->
      <!--        src="https://ghbtns.com/github-btn.html?user=patricsteiner&type=follow&count=true"-->
      <!--        frameborder="0"-->
      <!--        scrolling="0"-->
      <!--        width="170"-->
      <!--        height="20"-->
      <!--        title="GitHub"-->
      <!--      ></iframe>-->
      <iframe
        src="https://ghbtns.com/github-btn.html?user=patricsteiner&repo=retronyx&type=star&count=true"
        frameborder="0"
        scrolling="0"
        width="150"
        height="20"
        title="GitHub"
      ></iframe>
    </div>
  </ion-card-content>
</ion-card>
