ion-badge {
  min-width: 32px;
}

ion-card {
  position: relative;
  min-height: 300px;
}

.background {
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
  opacity: 0.05;
  font-size: 1500%;
  width: 100%;
  text-align: center;
  user-select: none;
}

.entry {
  user-select: text;
}

.likes {
  transform: scale(0.7);
}

#submit {
  transform: scale(0.8);
}

::ng-deep {
  .editEntryPopup {
    .alert-wrapper {
      width: 500px;
    }
  }
}
