ion-badge {
  min-width: 32px;
}

ion-card {
  position: relative;
  min-height: 300px;
}

.background {
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  z-index: 100;
  opacity: 0.05;
  font-size: 1500%;
  width: 100%;
  text-align: center;
}

ion-chip {
  opacity: 0.5;
}
