<ion-card>
  <div class="background">
    {{ retroCard.emoji }}
  </div>
  <ion-card-header *ngIf="retroCard.title">
    <ion-card-title
      >{{ retroCard.title }}
      <ion-button
        (click)="showEditCardPopup(retroCard.title, retroCard.emoji)"
        size="small"
        shape="round"
        fill="none"
        style="float: right;"
      >
        <ion-icon color="medium" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item-sliding *ngFor="let entry of entries" #slidingItem (contextmenu)="showHint($event)">
        <ion-item *ngIf="!entry.deleted">
          <ion-chip class="user" [ngStyle]="{ background: entry.user.id | colorHash }">
            <ion-label
              class="ion-text-wrap"
              [ngStyle]="{ color: entry.user.id | colorHash: true }"
              title="{{ entry.user?.name || 'Unknown' }}"
              >{{ entry.user?.name || 'Unknown' }}</ion-label
            >
          </ion-chip>
          <ion-label class="ion-text-wrap entry">{{ entry.text }}</ion-label>
          <ion-icon *ngIf="entry.flag" name="flag" color="danger"></ion-icon>
          <ion-chip class="likes" outline="true" (click)="toggleLike(entry.id)" [title]="entry.likes">
            <ion-label>{{ entry.likes.length }}</ion-label>
            <ng-container *ngIf="entry.likes.includes(user?.name); then heart; else heartOutline"></ng-container>
            <ng-template #heart>
              <ion-icon name="heart" color="danger"></ion-icon>
            </ng-template>
            <ng-template #heartOutline>
              <ion-icon name="heart-outline" color="danger"></ion-icon>
            </ng-template>
          </ion-chip>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="light" (click)="toggleFlag(entry.id); slidingItem.close()">
            <ion-icon *ngIf="entry.flag" slot="icon-only" name="flag-outline"></ion-icon>
            <ion-icon *ngIf="!entry.flag" slot="icon-only" name="flag"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="showEditEntryPopup(entry.id, entry.text)">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteEntry(entry.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item>
        <ion-input
          placeholder="Add entry..."
          [(ngModel)]="entryText"
          (keydown.enter)="submit()"
          maxlength="300"
          minlength="2"
        ></ion-input>
        <ion-fab-button
          id="submit"
          slot="end"
          color="primary"
          size="small"
          [disabled]="!entryText || entryText.trim().length === 0"
          (click)="submit()"
        >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
