ion-header {
  user-select: none;
  #boardTitle {
    user-select: text;
  }
  #logo {
    height: 32px;
    margin-left: 10px;
    margin-right: -10px;
  }
}

#noBoardSelected {
  text-align: center;
  margin: auto;
}

::ng-deep {
  .alert-sub-title {
    color: red !important;
  }
  .alert-wrapper {
    max-width: 500px !important;
  }
}
