<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <img src="assets/logo.png" id="logo" />
      <img src="assets/logotext.png" id="logotext" />
      <span id="boardTitle"
        ><strong>{{ (board$ | async)?.title }}</strong></span
      >
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" (click)="showNewBoardModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark" fill="clear" (click)="showLoginPopup()">
        <ion-icon *ngIf="user$ | async" name="person"></ion-icon>
        <ion-icon *ngIf="!(user$ | async)" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark" fill="clear" (click)="showAboutModal()">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-grid *ngIf="board$ | async as board; else noBoard">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let card of board.cards; let i = index">
        <app-retro-card
          [retroCard]="board.cards[i]"
          [entries]="entriesForCard(i) | async"
          [cardIdx]="i"
          [boardId]="board.id"
        ></app-retro-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #noBoard>
  <app-landing></app-landing>
</ng-template>
