<app-header [title]="(board$ | async)?.title"></app-header>

<ion-content [fullscreen]="false">
  <ion-grid *ngIf="board$ | async as board; else noBoard">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let card of board.cards; let i = index">
        <app-retro-card
          [retroCard]="board.cards[i]"
          [entries]="entriesForCard(i) | async"
          [cardIdx]="i"
          [boardId]="board.id"
        ></app-retro-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="board$ | async as board">
  <ion-toolbar>
    <div id="users">
      <ion-text color="medium" id="users-label">Participants:</ion-text>
      <ion-chip
        class="user"
        *ngFor="let participant of participants$ | async"
        [ngStyle]="{ background: participant.user.id | colorHash }"
        [class.done]="participant.done"
        title="{{ participant.user.name }}"
      >
        <span [ngStyle]="{ color: participant.user.id | colorHash: true }">{{
          participant.user.name.substring(0, 1).toUpperCase()
        }}</span>
      </ion-chip>
    </div>
    <ion-buttons slot="end">
      <ion-button *ngIf="!(isDone$ | async)" color="success" fill="solid" (click)="setDone(board.id, true)">
        <ion-label>Done</ion-label>
      </ion-button>
      <ion-button *ngIf="isDone$ | async" color="medium" fill="clear" (click)="setDone(board.id, false)">
        <ion-label>Not done</ion-label>
      </ion-button>
      <ion-button
        *ngIf="(user$ | async)?.id === board.createdBy?.id"
        (click)="showActionsPopover($event, board.id)"
        size="small"
        fill="clear"
      >
        <ion-icon color="medium" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ng-template #noBoard>
  <div id="notFound">
    <h1>Nothing here... 👻</h1>
    <br />
    <ion-button routerLink="/" routerDirection="root" fill="clear">go home</ion-button>
  </div>
</ng-template>
