<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <img src="assets/icon/onyx.png" id="logo" alt="onyx logo" />
      <ion-title>
        Onyx Retro
      </ion-title>
      <ion-select
        placeholder="Board auswählen..."
        interface="popover"
        (ionChange)="navigateToBoard($event.detail.value)"
        [value]="(selectedBoard$ | async)?.id"
      >
        <ion-select-option *ngFor="let board of retroBoards$ | async" [value]="board.id">
          {{ board.title }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>

    <ion-buttons id="user" slot="end">
      <ion-input
        placeholder="Bitte Namen eingeben"
        [(ngModel)]="username"
        (ngModelChange)="login()"
        maxlength="20"
        minlength="1"
      ></ion-input>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="primary" slot="start" fill="clear" (click)="createNewBoard()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="selectedBoard$ | async as selectedBoard"
        color="danger"
        size="small"
        slot="end"
        fill="clear"
        (click)="deleteBoard(selectedBoard.id)"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <!--      <ion-button (click)="this.retroBoardService.deleteAll()" color="danger" fill="outline">DELETE ALL </ion-button>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="selectedBoard$ | async as selectedBoard; else noBoardSelected">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let card of selectedBoard.cards; let idx = index">
        <app-retro-card [retroCard]="card" (cardUpdated)="updateCard(selectedBoard.id, idx, $event)"></app-retro-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #noBoardSelected>
  <div id="noBoardSelected">
    <h1>Bitte ein Board auswählen</h1>
  </div>
</ng-template>
