<ion-card>
  <ion-card-header>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item-sliding *ngFor="let item of retroCard.items; let i = index">
        <ion-item>
          <ion-label>{{ item.text }}</ion-label>
          <ion-button fill="clear" (click)="like(i)">👍</ion-button>
          <ion-badge color="tertiary">{{ item.likes }}</ion-badge>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteItem(item)" color="danger">Löschen</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item>
        <ion-input placeholder="Eintrag hinzufügen..." [(ngModel)]="itemText" (keydown.enter)="submit()"></ion-input>
        <ion-fab-button slot="end" color="primary" size="small" [disabled]="!itemText" (click)="submit()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
