<ion-card>
  <ion-card-header>
    <ion-card-title>OnyxRetro</ion-card-title>
    <ion-card-subtitle>A fresh app for online retrospectives</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <strong>How to use this app</strong>
    <ul>
      <li>Be nice</li>
      <li>Do retros n stuff</li>
      <li>Hint: You can slide items for additional actions</li>
    </ul>
    <strong>Disclaimer</strong>
    <p>
      This is free open source software. The data you enter is stored on google cloud. We guarantee for absolutely
      nothing (lol). Do not enter any sensitive information, because all boards are accessible and editable by anyone
      possessing the link. And now, check out this cool cat: 🐱‍🏍
    </p>
    <br />
    <strong>Donations</strong>
    <p>Not accepted. Be nice to someone instead.</p>
    <br />
    <strong>Contributions</strong>
    <p>
      The code is hosted on <a href="https://github.com/patricsteiner/retronyx">github</a>. Pull-requests, feedback &
      feature-requests are welcome 🤗 (although we are very restrictive with adding new features - this app ought to be
      as simple as possible).
    </p>
    <div style="padding: 16px; text-align: center;">
      <!--      <iframe-->
      <!--        src="https://ghbtns.com/github-btn.html?user=patricsteiner&type=follow&count=true"-->
      <!--        frameborder="0"-->
      <!--        scrolling="0"-->
      <!--        width="170"-->
      <!--        height="20"-->
      <!--        title="GitHub"-->
      <!--      ></iframe>-->
      <iframe
        src="https://ghbtns.com/github-btn.html?user=patricsteiner&repo=retronyx&type=star&count=true"
        frameborder="0"
        scrolling="0"
        width="150"
        height="20"
        title="GitHub"
      ></iframe>
    </div>
  </ion-card-content>
</ion-card>
